@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7f9fb;
}

.form-input {
  width: 100%;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: rgb(28 28 28 / 0.1);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-text-opacity: 1;
  color: rgb(28 28 28 / var(--tw-text-opacity));
}

/* 8. TABLES */

.table-responsive {
  overflow: auto;
}

/* width */
.table-responsive::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
.table-responsive::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edf2f7;
}

/* Handle */
.table-responsive::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 100vh;
  border: 2px solid #edf2f7;
}

/* Handle on hover */
.table-responsive::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

table [type="checkbox"]:checked {
  background-size: 8px;
}

.myimg {
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KCiAgPHBhdGggZD0iTSAxMDAgMCBDIDIwIDAgMCAyMCAwIDEwMCBDIDAgMTgwIDIwIDIwMCAxMDAgMjAwIEMgMTgwIDIwMCAyMDAgMTgwIDIwMCAxMDAgQyAyMDAgMjAgMTgwIDAgMTAwIDAgWiIvPgoKPC9zdmc+);
}

canvas {
  max-width: unset;
  width: 100%;
}
